html, body{
  background-color: #9DA39A;
  overflow-x: hidden; 
  margin: 0;
  padding: 0; 
}

*{
margin: 0;
padding: 0; 
}
/*-------------------baseline stuff---------------*/
audio::-webkit-media-controls-panel {
  background-color: #35605A;
}
.wrapper{
  width: 100%;
}
.wrapperb{
  width: 100%;
}

.img-info{
width: 100%;
}
.img-info h1{
  padding: 30px 30px 20px;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  font-family:Merriweather; font-weight: bold; font-size: 32px;    text-transform: uppercase;
  color: #35605A;
  line-height:38px;
}
.img-info h2{
padding: 30px 30px 20px;
margin: auto;
text-align: center;
font-family:Merriweather; font-weight: bold; font-size: 38px;
color: #35605A;
line-height:44px;
}
.img-info h3{
  padding: 30px 30px 20px;
  margin: auto;
  text-align: center;
  font-family:Merriweather; font-weight: bold; font-size: 26px;
  color: #35605A;
  line-height:30px;
}
.img-info p{
padding: 10px 30px 20px;
text-align: justify;
font-family:Merriweather; font-size: 12px;
color: #35605A;
line-height:28px;
}
.img-info blockquote{
  padding: 30px 30px ;
  text-align: justify;
  font-family:Merriweather; font-size: 12px;
  color: #35605A;
  line-height:16px;
  font-style: italic;
  font-weight: 600;
  margin: auto;
}
.img-info cite{
  padding: 30px 30px ;
  text-align:justify;
  font-family:Merriweather; font-size: 7px;
  color: #35605A;
  line-height: 13px;
  font-style: italic;
  font-weight: 600;
  margin: auto;
}
/*-------------------mobile small--------------*/
@media only screen and (min-width:320px) {
  .gap{       height: 0.3rem;     }
  .wrapper{
    width: 320px;
    margin: 0 auto;}
    .wrapperb{
      width: 100%;
      margin-top: 10%;    }


  .video-banner {
    display: none;    }

  .video-hidebig {
    display: block;
    width:100%;
    margin-top:70px;
    height: 300px;
    margin-bottom: -10%;}

   
  .img-info h1{
      padding: 20px 0px 0px;
      padding-top: 100px;} 

  .img-info h2{
    padding: 20px 0px 0px;}
  .img-info h3{
    padding: 20px 0px 0px;}

  .img-info p{
    padding: 20px 20px 0px;
    text-align: justify;
    font-family:Merriweather; font-size: 12px;
    width: 90%;
    color: #35605A;
    line-height:28px;
    }
  
    .video-side{
      width: 60%;
      height: 32vh;
      padding-bottom: 4%;
      margin-left: 20%;
      margin-right: 20%;}

     .img-journal{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;}
      
      .img-photo{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      display: block;}

    .audio{
      display:table; 
      margin-top: 2%; 
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
            
     }
     .img-info blockquote{
      padding: 30px 30px ;
      margin-bottom: -5%; }

   

}
  
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------mobile---------------*/
@media only screen and (min-width:375px) {
  .gap{       height: 0.3rem;     }
  .wrapper{
    width: 375px;
    margin: 0 auto;}

  .wrapperb{
      width: 100%;
      margin-top: 10%;    }


  .video-banner {
    display: none;    }

  .video-hidebig {
    display: block;
    width:100%;
    margin-top:70px;
    height: 300px;
    margin-bottom: -10%;}

   
  .img-info h1{
      padding: 20px 0px 0px;
      padding-top: 100px;} 

  .img-info h2{
    padding: 20px 0px 0px;}
  .img-info h3{
    padding: 20px 0px 0px;}

  .img-info p{
    padding: 20px 20px 0px;
    text-align: justify;
    font-family:Merriweather; font-size: 12px;
    width: 90%;
    color: #35605A;
    line-height:28px;
    }
  
    .video-side{
      width: 60%;
      height: 32vh;
      padding-bottom: 4%;
      margin-left: 20%;
      margin-right: 20%;}

     .img-journal{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;}
      
      .img-photo{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      display: block;}

    .audio{
      display:table; 
      margin-top: 2%; 
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
            
     }
     .img-info blockquote{
      padding: 30px 30px ;
      margin-bottom: -5%; }

   

}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------tablet---------------*/
@media only screen and (min-width:768px) {
  .video-banner {
    display: block;
    width:100%;
    margin-top: 70px;
    height: 700px;
    padding-bottom: 50px;}
    
    .video-hidebig {
      display: none;
      }
  .wrapper{
    width: 768px;
    margin: 0 auto;}
    .wrapperb{
      width: 100%;
      margin-top: 10%;
    }

    .gap{       height: 0.3rem;     }

  .img-info h2{
    padding: 20px 0px 0px;}
  .img-info h3{
    padding: 20px 0px 0px;}
  .img-info p{
    padding: 20px 20px 20px;
    font-size: 16px;
    margin: auto;
}
  
    .img-info blockquote{
    width: 80%; }

    .img-info cite{
      width: 80%;
    margin-left: 20%;}

    .video-side{
      width: 70%;
      padding-bottom: 4%;
      padding-top: 1%;
      margin-left: 15%;
      margin-right: 15%;}

     .img-journal{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;}
      
      .img-photo{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      display: block;}



    .audio{
      display:table; 
      margin-top: 2%; 
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
     }

}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-----------1024px----------*/
@media only screen and (min-width:1024px) {
  .gap{       height: 0.5rem;     }
  .wrapper{
    width: 1024px;
    margin: 0 auto;}

  .video-banner {
    display: block;
    width:100%;
    margin-top: 70px;
    height: 700px;
    padding-bottom: 50px;}
  .wrapper{
    width: 70%;
    margin-top: 10%;
  }
  .video-hidebig {
    display: none;
    }
    
    .img-info blockquote{
      width: 80%; }
  
      .img-info cite{
        width: 80%;
      margin-left: 20%;}


  .video-side{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      padding-bottom: 4%;
}

     .img-journal{
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;}
      
      .img-photo{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      display: block;}



.audio{
  display:table; 
  margin-top: 2%; 
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
 }



 .img-info h1{
  padding: 20px 0px 0px 30px;
  font-size: 56px; line-height: 63px;

  }
  
 .img-info h2{
  padding: 20px 0px 0px 30px;
  }

  .img-info h3{
    padding: 20px 0px 0px 30px;
    }
  
  .img-info p{
  padding: 20px 0px 0px 30px;    font-size: 18px; line-height: 35px;
  }    

}

  /*-----------1280 et plus----------*/
  @media only screen and (min-width:1280px) {
    .gap{       height: 0.5rem;     }
    .wrapper{
      width: 1280px;
      margin: 0 auto;}
  
    .wrapper{
      width: 90%;
      margin-top: 10%;
    }
    .video-side{
      width: 25%;
     margin:auto;
     padding-left: 2%;
     padding-right: 4%;
     padding-bottom: 1%;
     padding-top: 1%;
       float: right;}

     .img-journal{
    width: 20%;
    margin: auto;
    float: left;
    padding-right: 2%;
    padding-left: 3%;
    padding-bottom: 1%;
    padding-top: 2%;

    }
      
      .img-photo{
      width: 40%;
      margin: auto;}

      .img-info p{
   font-size: 22px; line-height: 35px;
   padding-right: 2%;
  } 
    .img-info blockquote{
    display:table;  
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -2%;
  }
  .img-info cite{
    display:table;  
    margin-left: 30%;
    margin-right: 30%;
    font-size: 14px;
  }
  }
  




  /*---------footer--------*/
  #footer {
    width:100%;
    height:50px;
    background:#35605A;
    clear: both;
    text-align: center;

   
  p1  {
    color: #9DA39A;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;

      }
}

  /*---------hover--------*/

  figure {
    position: relative;
    display: block;
}

figcaption {
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
}

  /*-------------bouton-------------*/
  a.button1{
padding: 60px 30px 30px;    border:0.1em solid  #35605A;
    ;
margin: 1px 1px 10px 10px;    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #35605A; font-size: 18px;
    text-align:center;
    transition: all 0.2s;
    }
    a.button1:hover{
    color:#ffffff;
    background-color: #35605A;
    ;
    }
    @media all and (max-width:30em){
    a.button1{
    margin:0.4em auto;
    }
    }





      /*-------------couleur link-------------*/
      /* unvisited link */
a:link {
  color: #ffffff;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: #35605A;
}
